//message-details {

  .shadowed {
    background-color: map-get($colors, secondary_bg);
  }

  .attachment-table {
    padding: 0px 16px 16px 16px;
  }

  .row {
    .attachments {
      font-size: map-get($font-sizes, normal);
      line-height: 1.5em;
    }
  }

  .col {
    padding: 0;

    .label {
      color: map-get($colors, text_primary);
      font-size: map-get($font-sizes, normal);
      vertical-align: middle;
    }

    .from {
      color: map-get($colors, text_terciary);
      text-transform: uppercase;
      padding: 0 16px 0 0;
    }

    .date {
      color: map-get($colors, text_primary);
      padding: 0 16px 0 0;
    }

    .subject {
      color: map-get($colors, text_primary);
      font-size: map-get($font-sizes, larger);
      font-weight: normal;
      line-height: 1.7em;
      padding: 0 16px 0 0;
    }

    .content {
      color: map-get($colors, text_secondary);
      font-size: map-get($font-sizes, normal);
      font-weight: normal;
      line-height: 1.43em;
      padding: 0 16px 0 0;
    }

    .status-info {
      font-size: map-get($font-sizes, normal);
      font-weight: bold;
      color: color($colors, text_inverse);
    }
  }

  .inner-divider {
    width:100%;
    max-height: 1px;
    height: 1px;
    background-color: map-get($colors, element_border);
    margin: 0 0 8px 0;
  }

  .label-icon {
    vertical-align: middle;
  }

//}
