<ion-grid class="shadowed" style="padding: 16px 0 16px 16px;">

  <!-- FROM -->
  <ion-row>
    <ion-col>
      <img class="label-icon" src="{{ctx}}/assets/icon/party-from.svg" icon-start />
      <span class="label" ><b>{{getAddresseeLabel()}}</b></span>
    </ion-col>
    <ion-col text-right>
      <span class="date">{{message.receiptDate? (message.receiptDate | date:'longDate') : ''}}</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="from">{{message.sender}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="inner-divider"></div>
    </ion-col>
  </ion-row>

  <!-- SUBJECT -->
  <ion-row>
    <ion-col>
      <img class="label-icon" src="{{ctx}}/assets/icon/subject.svg" icon-start />
      <span class="label"><b>{{"SUBJECT" | translate}}</b></span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="subject">{{message.subject}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="inner-divider"></div>
    </ion-col>
  </ion-row>

  <!-- MESSAGE -->
  <ion-row>
    <ion-col>
      <img class="label-icon" src="{{ctx}}/assets/icon/comments.svg" icon-start />
      <span class="label"><b>{{"MESSAGE" | translate}}</b></span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="content">{{message.content}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="inner-divider"></div>
    </ion-col>
  </ion-row>

  <!-- FILES SUMMARY -->
  <!--<ion-row>
    <ion-col>
      <span style="line-height: 2em;"><ion-icon name="lock" icon-left *ngIf='message.contentEncrypted' style="padding-right:8px;"></ion-icon>{{'NUMBER_OF_FILES' | translate:{num: message.numberOfFiles} }} - 780MB</span>
    </ion-col>
  </ion-row>-->

  <ion-row class="attachments">
    <ion-col align-self-end width-50 >

      <ion-label>
        <ion-icon name="lock" *ngIf="isEncrypted()" style="padding-right:8px;"></ion-icon>
        <ion-icon name="flag" *ngIf="isSigned()" style="padding-right:8px;"></ion-icon>
        {{'NUMBER_OF_FILES' | translate:{num: message.attachmentCount} }} - {{message.totalAttachmentSize}}MB
      </ion-label>
    </ion-col>

    <ion-col align-self-center width-50 style="text-align: right;" *ngIf="isExpired()">
      <ion-chip color="expired" style="margin-right:16px;">
        <ion-label class="status-info">{{status}}</ion-label>
      </ion-chip>
    </ion-col>

    <ion-col align-self-center width-50 style="text-align: right;" *ngIf="hasWarning()">
      <ion-chip color="warning" style="margin-right:16px;">
        <ion-label class="status-info">{{status}}</ion-label>
      </ion-chip>
    </ion-col>

    <ion-col align-self-center width-50 style="text-align: right;" *ngIf="hasStatus()">
      <ion-chip color="status" style="margin-right:16px;">
        <ion-label class="status-info" >{{status}}</ion-label>
      </ion-chip>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="!isInbox">
    <ion-col>
      <ion-label text-right style="margin-right:16px;"><b>{{"FILE_RECEIVED" | translate}}: </b>{{message.statusReceiptDate? (message.statusReceiptDate | date:'longDate') : ''}}</ion-label>
    </ion-col>
  </ion-row>

</ion-grid>

<!-- FILES LIST -->
<ion-grid style="padding: 16px 0 0 16px;">

  <!-- Files info -->
  <ion-row>
    <ion-col>
      <ion-icon name="ios-document-outline" icon-left></ion-icon>
      <span class="label"><b>{{"LIST_OF_FILES" | translate}}</b></span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!--<p class="content">{{(hasWarning() || isExpired()) && warning ? warning : ("FILES_INFO" | translate)}}</p>-->
      <p class="content">{{("FILES_INFO" | translate)}}</p>
    </ion-col>
  </ion-row>

</ion-grid>
