navbar-title {

  .title {
    font-size: 2em;
    font-weight: lighter;
    display:inline-block;
    vertical-align: baseline;
    justify-content: center;
    color: color($colors, primary);
  }

  .title-divider {
    background-color: color($colors, primary);
    height: 4px;
  }

  .menu-icon {
    color: color($colors, primary);
    padding:0;
    margin:0;
  }
}
