<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8766eed6-9250-43ae-acad-f70e5b5f668c" name="ApplicationResponseTest" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8766eed6-9250-43ae-acad-f70e5b5f668cfileName">ApplicationResponseTest</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>SENDER_PARTY</con:name><con:value>WEB_SENDER_PARTY</con:value></con:property><con:property><con:name>RECEIVER_PARTY</con:name><con:value>ROBOT_APP_PARTY</con:value></con:property><con:property><con:name>MESSAGE_STATUS_ID</con:name><con:value>ROBOT_MESSAGE_STATUS_ID</con:value></con:property><con:property><con:name>PARENT_MESSAGE_BUNDLE_ID</con:name><con:value>ROBOT_BUNDLE_0002</con:value></con:property><con:property><con:name>RESPONSE_CODE</con:name><con:value>BDL:7</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>