<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <display-name>e-TrustEx mock WS</display-name>

    <!-- some ECAS stuff -->
    <context-param>
        <description>
            When dispatching to the error page because a LoginException occurred,
            should we use a redirection (true) or a forward (false) ?
        </description>
        <param-name>eu.cec.digit.ecas.client.dispatch.useRedirect</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>
            Shoud all URLs specified for the error pages be considered relative to
            the Web app context root ?
        </description>
        <param-name>eu.cec.digit.ecas.formAuth.contextRelativeURLs</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>
            The default error page to be forwarded to when a LoginException occurs.
        </description>
        <param-name>eu.cec.digit.ecas.client.dispatch.forward.defaultError</param-name>
        <param-value>/jsp/errors/ecasError.jsp</param-value>
    </context-param>

    <!-- PROXY TICKET support  START -->
    <servlet>
        <servlet-name>ProxyTicketReceptor</servlet-name>
        <servlet-class>eu.cec.digit.ecas.client.proxy.EcasProxyTicketReceptor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyTicketReceptor</servlet-name>
        <url-pattern>/ecasProxyTicketReceptor</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>eu.cec.digit.ecas.client.proxy.ProxyCacheInit</listener-class>
    </listener>
    <!-- PROXY TICKET support  END -->

    <error-page>
        <error-code>403</error-code>
        <location>/jsp/errors/unauthorisedAccess.jsp</location>
    </error-page>

    <!-- Security -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ECAS protected</web-resource-name>
            <description>ECAS protected resources</description>
            <!-- /mobile/services/** should be protected via RestAuthenticationFilter to allow the use of fake identity -->
            <!--<url-pattern>/mobile/services/*</url-pattern> -->
            <url-pattern>*.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow access only to authenticated users</description>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>Encryption is not required.</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>ionic.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
