// SourceSansPro Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html
$font-path: "../../assets/fonts";
$SourceSansPro-font-path: $font-path !default;

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 300;
  src: local("SourceSansPro Light"), local("SourceSansPro-Light"), url("#{$SourceSansPro-font-path}/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: local("SourceSansPro"), local("SourceSansPro-Regular"), url("#{$SourceSansPro-font-path}/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 500;
  src: local("SourceSansPro Medium"), local("SourceSansPro-Medium"), url("#{$SourceSansPro-font-path}/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: local("SourceSansPro Bold"), local("SourceSansPro-Bold"), url("#{$SourceSansPro-font-path}/SourceSansPro-Bold.ttf") format("truetype");
}
