info-view {

  .centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  div {
    .warning {
      font : {
        size:  map-get($font-sizes, larger);
        weight: normal;
      }
      line-height: 1.5em;
      color: color($colors, text_buttons);
    }

  }

  .warning-icon {
    color: color($colors, expired);
    font-size: 4em;
  }


}
