message-details-page {

  .toolbar-background {
    background-color:map-get($colors, navbar_bg);
  }

  .nav-button {
    &.nav-button-right {
      margin-right:10px;
    }
    &.nav-button-left {
      margin-left:10px;
    }
    font-size: map-get($font-sizes, larger);
    color: color($colors, text_buttons);
    ion-icon {
      font-size: 1.0em;
  }
}

}
