The official electronic version for the European Commission document
<i>$messageTitle</i> also containing an electronic transmission sheet in XML format is available at the following location:
<br>
<a href="$messageURL">$messageURL</a>
<br><br>
If you have any problems in receiving the documents, please contact <a href="mailto:SG-DECIDE-ETRUSTEX@ec.europa.eu" target="_blank">SG DECIDE ETRUSTEX</a>
<br><br>
Kind regards,
<br><br>
European Commission<br>
Secretariat General