Dear <i>$userName</i>,
<br><br>
The message listed below is going to expire in $retentionPolicyWarningDays days, on $expirationDate.<br>
Please note that after the expiration date, the attachments from this message will not be available for download anymore.
<br><br>
Message title: <i>$messageTitle</i><br>
Message URL: <a href="$messageURL">$messageURL</a>
<br><br>
This message has been generated automatically by the e-TrustEx platform, please do not reply.
<br><br>
Best regards,<br>
e-TrustEx Team