<ion-header>
  <navbar-title></navbar-title>
  <header [folderCounters]='mailbox.counters' [partyList]='mailbox.partyList' [selectedParty]='mailbox.party'></header>
  <ion-toolbar class="no-padding">
    <ion-grid no-margin no-padding>
    <ion-row [class.tablet]='tabletMode'>
      <ion-col text-left>
        <inbox-counters-menu [counters]='mailbox.inboxCounters' (onFilterChanged)="onInboxFilterChanged($event)" *ngIf='isInboxView'></inbox-counters-menu>
        <sent-counters-menu [counters]='mailbox.sentCounters' (onFilterChanged)="onSentFilterChanged($event)" *ngIf='!isInboxView'></sent-counters-menu>
      </ion-col>
      <ion-col text-right>
        <inbox-ordering [label]='orderingLabel' (onOrderChanged)="onOrderChanged($event)"></inbox-ordering>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="fetchNewerMessages($event)">
    <ion-refresher-content pullingIcon='arrow-dropdown'
                           pullingText="{{'REFRESHER_PULLING' | translate}}"
                           refreshingSpinner="bubbles"
                           refreshingText="{{'REFRESHER_REFRESHING' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <div [class.tablet]='tabletMode'>
    <message-list [messages]='messagesList' [isInbox]='isInboxView' (onMessageSelected)="onMessageSelected($event)"></message-list>
  </div>

  <!-- info.view display mode -->
  <info-view [message]='infoMessage' padding-top></info-view>
  <!-- -->

  <ion-infinite-scroll (ionInfinite)="fetchOlderMessages($event)" [enabled]="hasMoreMessages">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
