page-inbox {

  padding: 0;
  margin: 0;

  .tablet {
    margin-left: 32px;
    margin-right: 16px;
  }

  .toolbar {
    padding: 0 16px;
    background-color: white;
    border-width: 0 0 0;
    //min-height: 3em;
  }

  .toolbar.no-padding {
    padding: 0;
  }

  ion-header {
    .toolbar-background {
      background-color: color($colors, primary_bg);
    }

    img#app-logo {
      //content : url("/mobimeet/assets/icon/ec-logo.png");
      height: 32px;
      width: 62px;
      vertical-align: middle;
      align-content: left;
      display:inline-block;
      max-height:100%;
      margin-right: 16px;
    }
  }

}


