attachment-list {

  .content_margin {
    margin-right: $screen-border;
    margin-left: $screen-border;
  }

  .border {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0 none #000000;
  }

  .hide-list {
    display: none;
  }

  .col {
    padding-right: 16px;
  }

  .row {
    color: color($colors, text_primary);
    font-size: map-get($font-sizes, normal);
    padding: 6px;
  }

  .header-button {
    font-size: map-get($font-sizes, normal);
    color: color($colors, text_buttons);
  }

  .odd-row {
    background-color: color($colors, table_odd_row_bg);
  }

  .even-row {
    background-color: color($colors, table_even_row_bg);
  }

}
