<div text-right class="content_margin">
<button ion-button style="text-transform: none;" tappable (click)="changeListView()">
  <span *ngIf="attachmentsVisible">{{ 'COLLAPSE_FILES' | translate }}</span>
  <span *ngIf="!attachmentsVisible">{{ 'EXPAND_FILES' | translate }}</span>
</button>
</div>

<ion-list no-lines inset class="border" [class.hide-list]="!attachmentsVisible" (ionChange)='changeListView()'>

  <ion-list-header style="padding-left:6px;padding-right:6px;margin:0;">
    <ion-row style="padding:0;margin:0;">
      <ion-col col-9><span class="header-button" tappable (click)="sortByName()">{{ 'FILE_NAME' | translate }}</span></ion-col>
      <ion-col col-3><span class="header-button"  tappable (click)="sortByType()">{{ 'FILE_TYPE' | translate }}</span></ion-col>
    </ion-row>
  </ion-list-header>

  <!-- list of attachments - 2 cols -->
  <ion-grid>
  <div *ngFor="let att of getAttachments(); let i=index">
    <ion-row [class.even-row]="i%2 == 0">
      <ion-col col-9>{{att.name}}</ion-col>
      <ion-col col-3>{{getAttachmentType(att)}}</ion-col>
    </ion-row>
  </div>
  </ion-grid>

</ion-list>
