<ion-card class="card" [class.with-border]='tabletMode' *ngIf="message">
  <ion-card-content class="message" [class.message-unread]="isInbox && !message.read" [class.message-read]="message.read" >
    <ion-row>
      <ion-col align-self-end width-50 style="padding:0;">
        <span class="from">{{isInbox ? message.sender : message.recipient}}</span>
      </ion-col>
      <ion-col align-self-center width-50 style="padding:0; text-align: right;">
        <span class="date" [class.unread]="isInbox && !message.read">{{message.receiptDate? (message.receiptDate | date:'longDate') : ''}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="subject" [class.unread]="isInbox && !message.read">{{message.subject}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="content max-lines" [class.unread]="isInbox && !message.read">{{message.content}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="card-inner-divider"></div>
      </ion-col>
    </ion-row>

    <ion-row class="attachments">
      <ion-col align-self-end width-50>
        <ion-label>
          <ion-icon name="lock" *ngIf="isEncrypted()" style="padding-right:8px;"></ion-icon>
          <ion-icon name="flag" *ngIf="isSigned()" style="padding-right:8px;"></ion-icon>
          <span [class.unread]="isInbox && !message.read">{{'NUMBER_OF_FILES' | translate:{num: message.attachmentCount} }}</span> - {{message.totalAttachmentSize}}MB
        </ion-label>
      </ion-col>
      <ion-col align-self-center width-50 style="text-align: right;" *ngIf="isExpired()">
        <ion-chip color="expired" >
          <ion-label class="status-info">{{status}}</ion-label>
        </ion-chip>
      </ion-col>

      <ion-col align-self-center width-50 style="text-align: right;" *ngIf="hasWarning()">
        <ion-chip color="warning" >
          <ion-label class="status-info">{{status}}</ion-label>
        </ion-chip>
      </ion-col>

      <ion-col align-self-center width-50 style="text-align: right;" *ngIf="hasStatus()">
        <ion-chip color="status" >
          <ion-label class="status-info">{{status}}</ion-label>
        </ion-chip>
      </ion-col>

    </ion-row>
  </ion-card-content>
</ion-card>
