message-card {

  .card {
    margin:0 0 5px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.36);
    //box-shadow: 0;
    padding: 0;
    width: 100%;

    .message-unread {
      background-color: color($colors, new_message);
    }

    .message-read {
      background-color: color($colors, read_message);
    }
  }

  .with-border {
    border-color: color($colors, element_border);
    /*border-color: mediumvioletred;*/
    border-width: thin;
    border-style: solid;
  }

  .card-inner-divider {
    width:100%;
    max-height: 1px;
    height: 1px;
    background-color: color($colors, element_border);
    margin-top: 8px;
  }

  .message {
    padding: $screen-padding;

    .from {
      font-size: map-get($font-sizes, normal);
      text-overflow: ellipsis;
      color: color($colors, text_terciary);
    }

    .subject {
      font-size: map-get($font-sizes, larger);
      font-weight: normal;
      line-height: 2em;
      color: color($colors, text_primary);
      // one line with ellipsis
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content {
      font-size: map-get($font-sizes, normal);
      //text-overflow: ellipsis;
      color: color($colors, text_secondary);

      // max lines
      display: block; /* or inline-block */
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 2.50em;
      line-height: 1.25em;
    }

    .date {
      font-size: map-get($font-sizes, normal);
      color: color($colors, text_secondary);
    }

    .unread {
      font-weight: bolder;
    }
  }

  .row, .scroll {
    padding: 0;
  }

  .col {
    padding: 0;
  }

  .attachments {
    margin-top: 8px;
    align-items: center;
    font-size: map-get($font-sizes, normal);
    line-height: 1.5em;

    .status-info {
      font-weight: bolder;
      color: color($colors, text_inverse);
    }
  }
}
